@import "tailwindcss";


@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #9400D2;
  --color-light-purple: #8F6BC8;
  --color-dark-green: #006400;
  --color-green: #81D203;
  --color-light-green: #7DBE69;
  --color-red: #800000;
  --color-light-red: #E85358;
  --color-yellow: #FFD700;
  --color-light-yellow: #EED081;
  --color-bg: #FFFEF8;
  --color-border: #ECECEC;
}


header.scrolled {
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.scrolled img {
  height: 60px;
}